body {
    font-family: 'Gabarito';
}

.home-title {
    text-align: center;
    margin-top: 125px;
}

.home-bio {
    text-align: center;
    font-size: 30px;
    margin-top: 10vh;
}

.home-score {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 10px;
    font-size: 30px;
    color: purple;
}

.timer {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 10px;
    font-size: 30px;
}

.start-button {
    display: inline-block;
    padding: 25px 50px;
    background-color: #28a745;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    user-select: none;
    transition: background-color 0.3s ease;
    margin-top: vh;
}

.start-button:hover {
    background-color: #218838;
}

.start-button:active {
    background-color: #1e7e34;
}

.center-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.option {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
}

.question-box {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.question-text {
    font-size: 50px;
    padding-bottom: 50px;
    position: absolute;
    top: 150px;
}

.center-button {
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-top: 150px;
}

#option1 {
    margin: 10px;
}

#option2 {
    margin: 10px;
}

#option3 {
    margin: 10px;
}

#option4 {
    margin: 10px;
}


#gif {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

.question-container {
    display: flex;
    justify-content: center;
}

.gif-box {
    position: fixed;
    right: 20vw;
    top: 30%;
    border: 2px solid #000;
    width: 10vw;
    height: 10vw;
    overflow: hidden;
}

#score-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#score-display {
    text-align: center;
    font-size: 30px;
    position: relative;
    bottom: 0px;
}